# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

PrzeplywomierzGUI/Program glowny/.qtc_clangd/*
.vscode/configurationCache.log
.vscode/settings.json
kontroler.posrednik/.vscode/configurationCache.log
kontroler.posrednik/.vscode/dryrun.log
kontroler.posrednik/.vscode/targets.log
kontroler_lib/.roleta_nowe_dane.txt.kate-swp
kontroler_lib/roleta_nowe_dane.txt
PrzeplywomierzGUI/Program glowny/.qmake.stash
PrzeplywomierzGUI/Program glowny/Makefile
PrzeplywomierzGUI/Program glowny/PrzeplywomierzGUI
PrzeplywomierzGUI/Program glowny/PrzeplywomierzGUI.pro.user*
PrzeplywomierzGUI/Program glowny/.vscode/configurationCache.log
PrzeplywomierzGUI/Program glowny/.vscode/settings.json
PrzeplywomierzGUI/Program Serwisowy/.qmake.stash
PrzeplywomierzGUI/Program Serwisowy/PrzeplywomierzSerwis
PrzeplywomierzGUI/Program Serwisowy/PrzeplywomierzSewis.pro.user*
PrzeplywomierzGUI/Program testowy/PrzeplywomierzTest.pro.user
PrzeplywomierzGUI/Program glowny/PrzeplywomierzGUI
PrzeplywomierzGUI/Program glowny/PrzeplywomierzGUI.pro.user*
