# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

PrzeplywomierzGUI/Aplikacja/.qtc_clangd/*
PrzeplywomierzGUI/Aplikacja/.qmake.stash
PrzeplywomierzGUI/Test/.qtc_clangd/*
PrzeplywomierzGUI/Test/.qmake.stash
PrzeplywomierzGUI/Serwis/.qtc_clangd/*
PrzeplywomierzGUI/Serwis/.qmake.stash
PrzeplywomierzGUI/Serwis/PrzeplywomierzSerwis
PrzeplywomierzGUI/Test/PrzeplywomierzTest
.vscode/configurationCache.log
.vscode/settings.json
kontroler.posrednik/.vscode/configurationCache.log
kontroler.posrednik/.vscode/dryrun.log
kontroler.posrednik/.vscode/targets.log
kontroler_lib/.roleta_nowe_dane.txt.kate-swp
kontroler_lib/roleta_nowe_dane.txt
kontroler.testet/.vscode/configurationCache.log
kontroler.testet/.vscode/dryrun.log
kontroler.testet/.vscode/extensions.json
kontroler.testet/.vscode/targets.log
PrzeplywomierzGUI/Program glowny/*
PrzeplywomierzGUI/Aplikacja/PrzeplywomierzGUI.pro.user*
PrzeplywomierzGUI/Test/moc_*
PrzeplywomierzGUI/Test/ui_*
PrzeplywomierzGUI/Test/Makefile
PrzeplywomierzGUI/Aplikacja/moc_*
PrzeplywomierzGUI/Aplikacja/ui_*
PrzeplywomierzGUI/Aplikacja/Makefile
PrzeplywomierzGUI/Serwis/moc_*
PrzeplywomierzGUI/Serwis/ui_*
PrzeplywomierzGUI/Serwis/Makefile
PrzeplywomierzGUI/Aplikacja/PrzeplywomierzGUI.pro.user
PrzeplywomierzGUI/Glowny/*
PrzeplywomierzGUI/Glowny/cnbop.ico
PrzeplywomierzGUI/Glowny/crc8.cpp
PrzeplywomierzGUI/Glowny/crc8.h
PrzeplywomierzGUI/Glowny/etapyroletdlg.cpp
PrzeplywomierzGUI/Glowny/etapyroletdlg.h
PrzeplywomierzGUI/Glowny/etapyroletdlg.ui
PrzeplywomierzGUI/Glowny/gui_pl.ts
PrzeplywomierzGUI/Glowny/ikony.qrc
PrzeplywomierzGUI/Glowny/main.cpp
PrzeplywomierzGUI/Glowny/Makefile
PrzeplywomierzGUI/Glowny/mechanika.cpp
PrzeplywomierzGUI/Glowny/mechanika.h
PrzeplywomierzGUI/Glowny/miernikprzeplywu.cpp
PrzeplywomierzGUI/Glowny/miernikprzeplywu.h
PrzeplywomierzGUI/Glowny/miernikprzeplywu.ui
PrzeplywomierzGUI/Glowny/mierzonepozycje.cpp
PrzeplywomierzGUI/Glowny/mierzonepozycje.h
PrzeplywomierzGUI/Glowny/mierzonepozycje.ui
PrzeplywomierzGUI/Glowny/podzialetapurolety.cpp
PrzeplywomierzGUI/Glowny/podzialetapurolety.h
PrzeplywomierzGUI/Glowny/podzialetapurolety.ui
PrzeplywomierzGUI/Glowny/polozenia.txt
PrzeplywomierzGUI/Glowny/pozycje.cpp
PrzeplywomierzGUI/Glowny/pozycje.h
PrzeplywomierzGUI/Glowny/pozycjeroleta.cpp
PrzeplywomierzGUI/Glowny/pozycjeroleta.h
PrzeplywomierzGUI/Glowny/pozycjeroleta.ui
PrzeplywomierzGUI/Glowny/PrzeplywomierzGUI
PrzeplywomierzGUI/Glowny/PrzeplywomierzGUI.pro
PrzeplywomierzGUI/Glowny/PrzeplywomierzGUI.pro.user
PrzeplywomierzGUI/Glowny/PrzeplywomierzGUI.pro.user.26743d9.22
PrzeplywomierzGUI/Glowny/recznedodpozycji.cpp
PrzeplywomierzGUI/Glowny/recznedodpozycji.h
PrzeplywomierzGUI/Glowny/recznedodpozycji.ui
PrzeplywomierzGUI/Glowny/serialmessage.cpp
PrzeplywomierzGUI/Glowny/serialmessage.h
PrzeplywomierzGUI/Glowny/sterownik.cpp
PrzeplywomierzGUI/Glowny/sterownik.h
PrzeplywomierzGUI/Glowny/ustawienia.cpp
PrzeplywomierzGUI/Glowny/ustawienia.h
PrzeplywomierzGUI/Glowny/wybordanych.ui
PrzeplywomierzGUI/Glowny/wyborkwadratow.cpp
PrzeplywomierzGUI/Glowny/wyborkwadratow.h
PrzeplywomierzGUI/Glowny/wyborkwadratow.ui
PrzeplywomierzGUI/Glowny/wybormetody.cpp
PrzeplywomierzGUI/Glowny/wybormetody.h
PrzeplywomierzGUI/Glowny/wybormetody.ui
PrzeplywomierzGUI/Glowny/wybranyplik.cpp
PrzeplywomierzGUI/Glowny/wybranyplik.h
PrzeplywomierzGUI/Glowny/wybranyplik.ui
PrzeplywomierzGUI/Serwis/PrzeplywomierzSewis.pro.user
PrzeplywomierzGUI/Serwis/PrzeplywomierzSewis.pro.user*
PrzeplywomierzGUI/Test/PrzeplywomierzTest.pro.user
PrzeplywomierzGUI/Test/PrzeplywomierzTest.pro.user*
PrzeplywomierzGUI/Aplikacja/PrzeplywomierzGUI
PrzeplywomierzGUI/Aplikacja/qrc_ikony.cpp

