# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

PrzeplywomierzGUI/Aplikacja/.qtc_clangd/*
PrzeplywomierzGUI/Aplikacja/.qmake.stash
PrzeplywomierzGUI/Test/.qtc_clangd/*
PrzeplywomierzGUI/Test/.qmake.stash
PrzeplywomierzGUI/Serwis/.qtc_clangd/*
PrzeplywomierzGUI/Serwis/.qmake.stash
PrzeplywomierzGUI/Serwis/PrzeplywomierzSerwis
PrzeplywomierzGUI/Test/PrzeplywomierzTest
